:root{
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    --dark-grayish-red: hsl(0, 6%, 24%);

    --linear-white: 135deg, hsl(0,0%,100%), hsl(0, 100%, 98%);
    --linear-white: 135deg, hsl(0,80%,86%), hsl(0, 74%, 74%);
}

body{
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--desaturated-red);
}

body{
    display: flex;
    flex-direction: column;
}

body{
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: min-content 1fr 1em;
}

.content {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    align-content: start;
}

.content p{
    margin-block: 1em;
    text-align: center;
}

.content > *{
    grid-column: 2;
}

body > * {
    grid-column: 2;
}

.content picture{
    grid-column: 1/-1;
    order: -1;
}

.hero :is(img, picture){
    width: 100%;
}

.logo{
    grid-area: logo;
    margin-block: 2rem;
}

.title{
    margin-block-start: 3rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    letter-spacing: .25em;
    color: black;

    h2{
        font-size: 1em;
    }
}

.title .thin{
    font-weight: 300;
    color: var(--desaturated-red);
}

input{
    width: 100%;
    border: 1px solid currentColor;
    color: var(--desaturated-red);
    border-radius: 2em;
    padding: .5em;
    background-color: transparent;
}
